<h1><%= @user.username %></h1>
Email: <%= @user.email %><br></br>
<div>
  <h3>Posts User Has Commented On</h3>
  <ul>
    <%= @user.comments.each do |comment| %>
      <li><%= link_to comment.post.title, comment.post %></li>
    <% end %>
  </ul>
</div>
